@page "/"

<PageTitle>Index</PageTitle>

<BlazrTabControl Class="p-2 bg-light" @ref=_blazrTabControl>

    <BlazrTab Label="First" Id="1">
        <div class="alert alert-primary m-4">
            First
        </div>
    </BlazrTab>

    <BlazrTab Label="Second" Id="2">
        <div class="alert alert-success m-4">
            Second
        </div>
    </BlazrTab>

    <BlazrTab Label="Third" Id="3">
        <div class="alert alert-danger m-4">
            Third
        </div>
        <button class="btn btn-primary" @onclick="@(() => this.ChangeTab("1"))">Back to First</button>
    </BlazrTab>

</BlazrTabControl>

@code {
    private BlazrTabControl? _blazrTabControl;

    private void ChangeTab(string id)
        => _blazrTabControl?.SetTab(id);

}