@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<BlazrTabControl Class="m-3 bg-light">

    <BlazrTab Label="First">
        <div class="alert alert-primary m-4">
            First
        </div>
    </BlazrTab>

    <BlazrTab Label="Second">
        <div class="alert alert-success m-4">
            Second
        </div>
    </BlazrTab>

    <BlazrTab Label="Third">
        <div class="alert alert-danger m-4">
            Third
        </div>
    </BlazrTab>

</BlazrTabControl>